FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:3000
AUTH_COOKIE_NAME=ems_token

# khalti: set sandbox for test-admin.khalti.com keys, live for admin.khalti.com keys
KHALTI_ENV=sandbox

# Use any one key variable below (recommended: KHALTI_SECRET_KEY)
KHALTI_SECRET_KEY=your_khalti_secret_key_here
# KHALTI_TEST_SECRET_KEY=your_khalti_test_secret_key_here
# KHALTI_SANDBOX_SECRET_KEY=your_khalti_sandbox_secret_key_here
# KHALTI_LIVE_SECRET_KEY=your_khalti_live_secret_key_here
